// font
*{
    font-family: 'Press Start 2P', cursive;
    color: white;
}

body{
    background-color: black;
}

.container{
    width: 400px;
    height: 500px;
    margin: 100px auto 0 auto;
    padding: 100px 0;
}

.title{
    text-align: center;
    margin-top: 0;
    margin-bottom: 100px;
    line-height: 50px;
}

.subtitle{
    text-align: left;
    &::before{
        content: '';
        position: relative;
        display: block;
        float: left;
        margin-right: 20px;
        top: -5px;
        width: 32px;
        height: 32px;
        background-size: cover;
    }
    &.record::before{
        background-image: url('../media/image/record.jpg');
    }
    &.score::before{
        background-image: url('../media/image/coin.jpg');
    }
    &.timer::before{
        background-image: url('../media/image/energy.jpg');
    }
}

.button{
    position: relative;
    display: block;
    margin: 100px auto 0 auto;
    width: 300px;
    height: 100px;
    border-image-source: url("../media/image/button1.png");
    border-image-slice: 145 fill;
    border-image-outset: 10px;
    border-image-width: 50px;
    cursor: pointer;
    &:active{
        top: 10px
    }
    p {
        margin: 0;
        font-size: 30px;
        text-align: center;
        color: white;
    }
}
